* {
	font-family: monospace;
	color: white;
}

body {
	background: radial-gradient(50% 123.47% at 50% 50%, #00FF94 0%, #720059 100%), linear-gradient(121.28deg, #669600 0%, #FF0000 100%), linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
	background-blend-mode: screen, color-dodge, overlay, difference, normal;
}

html {
	scroll-behavior: smooth;
}

h1 {
	text-align: center;
}

form {
	width: 1000px;
	margin-top: 50%;
	margin-left: 25%;
	display: flex;
	flex-direction: column;
	padding: 10px;
	font-size: 14px;
	border-radius: 5px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	box-sizing: border-box;
	backdrop-filter: blur(8px) saturate(180%);
	background-color: rgba(17, 25, 40, 0.5);
	border-radius: 12px;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

a.button1 {
	font-size: 30px;
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #FFFFFF;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	text-align: center;
	transition: all 0.2s;
}

a.button1:hover {
	color: #000000;
	background-color: #FFFFFF;
}

@media all and (max-width:30em) {
	a.button1 {
		display: block;
		margin: 0.4em auto;
	}
}

.line-text {
	display: inline-block;
	margin-top: 15%;
	font-size: 110px;
	font-weight: 800;
	text-transform: uppercase;
	font-style: italic;
	color: transparent;
	-webkit-text-stroke-width: 5.5px;
	-webkit-text-stroke-color: white;
	white-space: nowrap;
	text-shadow: 12px 15px #39dbc2, 13px 16px #f41fbf, 14px 17px #f41fbf, 15px 18px #f41fbf, 16px 19px #f41fbf, 17px 20px #f41fbf, 18px 21px #f41fbf, 19px 22px #f41fbf, 20px 23px #f41fbf, 21px 24px #f41fbf, 22px 25px #f41fbf, 23px 26px #f41fbf, 24px 27px #f41fbf, 25px 28px #f41fbf;
}